html{
    color:#333;
    background:#FFF;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{
    margin:0;
    padding:0;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img{
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
    font-style:inherit;font-weight:inherit;
}
del,ins{
    text-decoration:none;
}
li{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
q:before,q:after{
    content:'';
}
abbr,acronym{
    border:0;font-variant:normal;
}
sup{
    vertical-align:baseline;
}
sub{
    vertical-align:baseline;
}
legend{
    color:#000;
}
input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
input,button,textarea,select{
    *font-size:100%;
}
table.form {
	width: 98%;
}
table.form th {
	font-weight: bold;
}
table.form th,
table.form td{
	padding: 2px;
}
#primary h2 {
	padding: 3px 5px;
	background-color: lightgrey;
}
textarea,
input.txt{
	width: 96%;
}
input.txt-m{
	width: 50%;
}
#header  {
	padding: 20px 0;
	border-bottom: 2px solid #000;
}
#sidebar {
	border-right: 2px solid #000;
	float: left;
	width: 200px;
}
#primary {
	margin-left: 210px;
}
img {
	width: 100%;
}